.admin-sidebar {
  width: 220px;
  background-color: #6d6347; 
  color: white;
  height: calc(100vh - 75px);
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 75px;
  overflow-y: auto;
  z-index: 100;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 14px 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: white;
  transition: background 0.2s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15); /* İnce beyaz çizgi */
}

.sidebar-menu li:hover {
  background-color: #9d8871; /* Turuncuya yakın hover */
  color: white;
} 